body:after {
  /* content: '';
  position: absolute;
  top: 35%;
  left: 55%;
  width: 100%;
  height: 100%;
  opacity: .1;
  z-index: -1;
  background-image: url('images/angular.svg');
  background-repeat: no-repeat;
  /* background-position: right bottom; */
  background-size: 20%; 
}

.reveal .title-slide img {
  width: 4em;
  height: 4em;
  border: none;
  box-shadow: initial;
}