<h1>OnPush Performance Example</h1>

<div>
  <b>Instructions:</b>
  <ol>
    <li>Hover over the items and note the background change lags behind your mouse</li>
    <li>Scroll up and down and note sometimes items don't re-render quickly</li>
    <li>Change <code>calculated-value.component.ts</code> to add <code>changeDetection: ChangeDetectionStrategy.OnPush</code></li>
    <li>Test again</li>
  </ol>
</div>
<br>

<app-calculated-value [items]="items"></app-calculated-value>

<app-item *ngFor="let item of items"
          [item]="item">
</app-item>
