<h1>Not Unsubscribing Example</h1>

<div>
  <b>Instructions:</b>
  <ol>
    <li>Open developer console</li>
    <li>Click "Trigger Subscriptions" and note count</li>
    <li>Go to memory tab and collect a heap snapshot</li>
    <li>Click "Recreate Components" many times.  This destroys and recreates all components in the list and recreates the subscriptions.</li>
    <li>Click "Trigger Subscriptions" and note count is MUCH higher than what is displayed on screen</li>
    <li>Go to memory tab and collect another heap snapshot</li>
    <li>Heap snapshot will show larger memory footprint and also yellow nodes (held from GC by reference)</li>
    <li>Uncomment the <code>ngOnDestroy</code> content in <code>item.component.ts</code> to unsubscribe properly</li>
    <li>Test again</li>
  </ol>
</div>
<br>

<div>
  <b>Controls:</b>
  <br><button (click)="regenerate()">Recreate Components</button>
  <br><button (click)="triggerMessage()">Trigger Subscriptions to be Fired</button>
</div>
<br>

<app-item *ngFor="let item of items"
          [item]="item">
</app-item>
